<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kpic.juwin.mapper.AlbumMapper">

    <insert id="save" parameterType="cn.kpic.juwin.domain.Album">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tb_album
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null">title,</if>
            <if test="msg != null">msg,</if>
            <if test="imageUrl != null">imageUrl,</if>
            <if test="picNum != null">picNum,</if>
            <if test="userId != null">userId,</if>
            <if test="isdel != null">isdel,</if>
            <if test="music != null">music,</if>
            <if test="isIndex != null">isIndex,</if>
            <if test="createTime != null">createTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="title != null">#{title,jdbcType=VARCHAR},</if>
            <if test="msg != null">#{msg,jdbcType=VARCHAR},</if>
            <if test="imageUrl != null">#{imageUrl,jdbcType=VARCHAR},</if>
            <if test="picNum != null">#{picNum,jdbcType=INTEGER},</if>
            <if test="userId != null">#{userId,jdbcType=BIGINT},</if>
            <if test="isdel != null">#{isdel,jdbcType=INTEGER},</if>
            <if test="music != null">#{music,jdbcType=VARCHAR},</if>
            <if test="isIndex != null">#{isIndex,jdbcType=INTEGER},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <select id="gatAllAlbum" parameterType="java.util.Map" resultType="cn.kpic.juwin.domain.Album">
        SELECT * FROM tb_album
        WHERE userId = #{userId} AND isdel = 0 ORDER BY createTime DESC LIMIT #{page}, 10
    </select>

    <select id="gatAlbum" parameterType="java.lang.Long" resultType="cn.kpic.juwin.domain.Album">
        SELECT * FROM tb_album
        WHERE id = #{id} AND isdel = 0
    </select>

    <update id="delAlbum" parameterType="java.lang.Long">
        update tb_album set isdel = 1 where id = #{id}
    </update>

    <update id="addMusic" parameterType="java.util.Map">
        update tb_album set music = #{music} where id = #{id}
    </update>

    <select id="getAlbumMsg" parameterType="java.lang.Long" resultType="cn.kpic.juwin.domain.vo.AlbumVo">
        SELECT
        ta.id,
        ta.title,
        ta.msg,
        ta.imageUrl,
        ta.picNum,
        ta.userId,
        ta.music,
        ta.createTime,
        tu.name AS userName,
        tu.sex,
        tu.userPic,
        tu.avater,
        tu.tag
        FROM tb_album ta
        JOIN tb_user tu ON ta.userId = tu.id
        WHERE ta.id = #{id} AND ta.isdel = 0
    </select>

</mapper>