<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace的作用在于对sql进行分类化管理，理解sql隔离
这里注意：如果使用Mapper代理开发的话，那么namespace将会有特殊重要的作用
 -->
<!-- 知识点：
#{}：表示占位符，预编译，不会引起sql注入
${}：表示拼接符，可能会引起sql注入
 -->
<mapper namespace="cn.kpic.juwin.mapper.MsgMapper">
    <insert id="addMsg" parameterType="cn.kpic.juwin.domain.Msg">
        insert into tb_msg (userId, num, type)
        values
        <foreach item="msg" index="index" collection="list" separator=",">
            (#{msg.userId}, #{msg.num}, #{msg.type})
        </foreach>
    </insert>

    <select id="notRead" parameterType="cn.kpic.juwin.domain.Msg" resultType="java.lang.Integer">
        SELECT SUM(num) FROM tb_msg WHERE userId = #{userId}
    </select>

    <select id="notReadByType" parameterType="cn.kpic.juwin.domain.Msg" resultType="java.lang.Integer">
        SELECT num FROM tb_msg WHERE userId = #{userId} AND type = #{type}
    </select>

    <update id="update" parameterType="cn.kpic.juwin.domain.Msg">
        UPDATE tb_msg
        SET
        num = num + 1
        WHERE userId = #{userId} AND type = #{type}
    </update>

    <update id="clear" parameterType="cn.kpic.juwin.domain.Msg">
        UPDATE tb_msg
        SET
        num = 0
        WHERE userId = #{userId} AND type = #{type}
    </update>


</mapper>