<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kpic.juwin.mapper.ReplyTipMapper">

    <insert id="save" parameterType="cn.kpic.juwin.domain.ReplyTip">
        insert into tb_reply_tip (userId, replyId, title, msg, pbarId, createTime)
        values (#{userId}, #{replyId}, #{title}, #{msg}, #{pbarId}, #{createTime})
    </insert>

    <select id="getIdsByStoreIds" parameterType="java.util.Map" resultType="java.lang.Long">
        SELECT replyId FROM tb_reply_tip
        WHERE userId = #{userId}
        AND replyId IN
        <foreach item="storeId" index="index" collection="storeIds" separator="," open="(" close=")">
            #{storeId}
        </foreach>
    </select>

    <select id="getAllReplyTips" parameterType="java.util.Map" resultType="cn.kpic.juwin.domain.vo.ReplyTips">
        SELECT
        trt.id,
        COUNT(trt.id) AS count,
        ttp.id AS topicId,
        ttp.title,
        trt.title AS type,
        trp.shortText,
        trp.id AS replyId
        FROM tb_reply_tip trt
        JOIN tb_reply_post trp ON trp.id = trt.replyId
        JOIN tb_topic_post ttp ON ttp.id = trp.topicId
        WHERE trt.pbarId = #{pbarId}
        AND trp.isdel = 0 AND ttp.isdel = 0
        GROUP BY trt.replyId ORDER BY count DESC LIMIT #{page}, 10
    </select>

    <delete id="delAllReplyTips" parameterType="java.lang.Long">
        DELETE FROM tb_reply_tip WHERE replyId = #{id}
    </delete>


</mapper>