<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace的作用在于对sql进行分类化管理，理解sql隔离
这里注意：如果使用Mapper代理开发的话，那么namespace将会有特殊重要的作用
 -->
<!-- 知识点：
#{}：表示占位符，预编译，不会引起sql注入
${}：表示拼接符，可能会引起sql注入
 -->
<mapper namespace="cn.kpic.juwin.mapper.SystemMsgMapper">

    <insert id="save" parameterType="cn.kpic.juwin.domain.SystemMsg">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tb_system_msg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="userId != null">userId,</if>
            <if test="isdel != null">isdel,</if>
            <if test="createTime != null">createTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="userId != null">#{userId},</if>
            <if test="isdel != null">#{isdel},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="cn.kpic.juwin.domain.SystemMsg">
        update tb_system_msg
        <trim prefix="set" suffixOverrides=",">
            <if test="userId != null">userId = #{userId},</if>
            <if test="fromUserId != null">fromUserId = #{fromUserId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="isReply != null">isReply = #{isReply},</if>
            <if test="reply != null">reply = #{reply},</if>
            <if test="isdel != null">isdel = #{isdel},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
        </trim>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="getAllSelfSystemMsg" parameterType="java.util.Map" resultType="cn.kpic.juwin.domain.SystemMsg">
        SELECT * FROM tb_system_msg WHERE userId = #{userId} AND isdel = 0 ORDER BY createTime DESC;
    </select>

</mapper>