<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace的作用在于对sql进行分类化管理，理解sql隔离
这里注意：如果使用Mapper代理开发的话，那么namespace将会有特殊重要的作用
 -->
 <!-- 知识点：
 #{}：表示占位符，预编译，不会引起sql注入
 ${}：表示拼接符，可能会引起sql注入
  -->
<mapper namespace="cn.kpic.juwin.mapper.UserMapper">
	<insert id="save" parameterType="cn.kpic.juwin.domain.User">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into tb_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="num != null">num,</if>
			<if test="name != null">name,</if>
			<if test="email != null">email,</if>
			<if test="password != null">password,</if>
			<if test="age != null">age,</if>
			<if test="sex != null">sex,</if>
			<if test="birth != null">birth,</if>
			<if test="userPic != null">userPic,</if>
			<if test="postNum != null">postNum,</if>
			<if test="isdel != null">isdel,</if>
			<if test="address != null">address,</if>
			<if test="tag != null">tag,</if>
			<if test="avater != null">avater,</if>
			<if test="isjm != null">isjm,</if>
			<if test="isIndex != null">isIndex,</if>
			<if test="createTime != null">createTime,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=BIGINT},</if>
			<if test="num != null">#{num,jdbcType=BIGINT},</if>
			<if test="name != null">#{name,jdbcType=VARCHAR},</if>
			<if test="email != null">#{email,jdbcType=VARCHAR},</if>
			<if test="password != null">#{password,jdbcType=VARCHAR},</if>
			<if test="age != null">#{age,jdbcType=INTEGER},</if>
			<if test="sex != null">#{sex,jdbcType=INTEGER},</if>
			<if test="birth != null">#{birth,jdbcType=VARCHAR},</if>
			<if test="userPic != null">#{userPic,jdbcType=VARCHAR},</if>
			<if test="postNum != null">#{postNum,jdbcType=INTEGER},</if>
			<if test="isdel != null">#{isdel,jdbcType=INTEGER},</if>
			<if test="address != null">#{address,jdbcType=VARCHAR},</if>
			<if test="tag != null">#{tag,jdbcType=VARCHAR},</if>
			<if test="avater != null">#{avater,jdbcType=VARCHAR},</if>
			<if test="isjm != null">#{isjm,jdbcType=INTEGER},</if>
			<if test="isIndex != null">#{isIndex,jdbcType=INTEGER},</if>
			<if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
		</trim>
	</insert>

	<select id="findUserById" parameterType="java.lang.Long" resultType="cn.kpic.juwin.domain.User">
		SELECT * FROM tb_user WHERE id=#{id} AND isdel = 0
	</select>

	<select id="findUserByName" parameterType="java.lang.Long" resultType="cn.kpic.juwin.domain.User">
		SELECT * FROM tb_user WHERE num=#{num} AND isdel = 0
	</select>

	<select id="getAllUser" resultType="cn.kpic.juwin.domain.User">
		SELECT * FROM tb_user WHERE isdel = 0
	</select>

	<insert id="addUser" parameterType="cn.kpic.juwin.domain.User">
		insert into tb_user (name, password, age)
		values (#{name}, #{password}, #{age})
		<selectKey resultType="java.lang.Long" keyProperty="id" >
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<select id="jugeUser" parameterType="java.util.Map" resultType="cn.kpic.juwin.domain.User">
		SELECT * FROM tb_user WHERE num = #{num} AND password = #{password} AND isdel = 0
	</select>

	<update id="update" parameterType="cn.kpic.juwin.domain.User">
		update tb_user
		<trim prefix="set" suffixOverrides=",">
			<if test="name != null">name = #{name},</if>
			<if test="age != null">age = #{age},</if>
			<if test="password != null">password = #{password},</if>
			<if test="address != null">address = #{address},</if>
			<if test="avater != null">avater = #{avater},</if>
			<if test="tag != null">tag = #{tag},</if>
			<if test="sex != null">sex = #{sex},</if>
			<if test="birth != null">birth = #{birth},</if>
			<if test="postNum != null">postNum = #{postNum},</if>
			<if test="isjm != null">isjm = #{isjm},</if>
			<if test="isIndex != null">isIndex = #{isIndex},</if>
		</trim>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getAllSmallManagerByPbarId" parameterType="java.lang.Long" resultType="cn.kpic.juwin.domain.vo.TopicManager">
		SELECT
		tup.id AS thisId,
		tu.id,
		tu.name,
		tu.userPic,
		tu.avater,
		tul.level,
		tul.score,
		tu.isjm
		FROM tb_user_pbar tup
		JOIN tb_user tu ON tup.userId = tu.id
		JOIN tb_user_level tul ON tul.userId = tu.id
		WHERE tup.pbarId = #{id} AND tup.type = 2
	</select>

	<delete id="delSmallManager" parameterType="java.lang.Long">
		DELETE FROM tb_user_pbar WHERE id = #{id}
	</delete>

	<select id="isSmallManager" parameterType="java.util.Map" resultType="java.lang.Long">
		SELECT
		userId
		FROM tb_user_pbar
		WHERE pbarId = #{pbarId} AND userId = #{userId} AND type = 2
	</select>

	<select id="getAllPbarUsers" parameterType="java.util.Map" resultType="cn.kpic.juwin.domain.vo.UserVo">
		SELECT
		tu.id,
		tu.name,
		tu.age,
		tu.sex,
		tu.tag,
		tu.avater,
		tu.userPic,
		tul.level,
		tul.score,
		tu.isjm
		FROM
		tb_pbar_focus tpf
		JOIN tb_user tu ON tpf.userId = tu.id
		JOIN tb_user_level tul ON tu.id = tul.userId
		WHERE tpf.pbarId = #{pbarId} AND tu.isdel = 0
		ORDER BY tpf.createTime DESC
		LIMIT #{page}, 10
	</select>

	<update id="updPostNum" parameterType="java.lang.Long">
		update tb_user set postNum = postNum + 1 where id = #{id}
	</update>

	<update id="jm" parameterType="java.lang.Long">
		update tb_user set isjm = 1 where id = #{id}
	</update>

	<select id="checkName" parameterType="java.lang.String" resultType="java.lang.Long">
		SELECT id FROM tb_user WHERE name = #{name}
	</select>

	<select id="checkNum" parameterType="java.lang.Long" resultType="java.lang.Long">
		SELECT id FROM tb_user WHERE num = #{num}
	</select>

	
</mapper>