<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace的作用在于对sql进行分类化管理，理解sql隔离
这里注意：如果使用Mapper代理开发的话，那么namespace将会有特殊重要的作用
 -->
<!-- 知识点：
#{}：表示占位符，预编译，不会引起sql注入
${}：表示拼接符，可能会引起sql注入
 -->
<mapper namespace="cn.kpic.juwin.mapper.UserEmotionMapper">

    <insert id="save" parameterType="cn.kpic.juwin.domain.UserEmotion">
        insert into tb_user_emotion (userId, emotionId, createTime)
        values (#{userId}, #{emotionId}, #{createTime})
    </insert>

    <delete id="del" parameterType="java.lang.Long">
        DELETE FROM tb_user_emotion WHERE id = #{id}
    </delete>

    <select id="getEmIdsByUserIdAndEmIds" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT emotionId FROM tb_user_emotion
    WHERE userId = #{userId}
    AND emotionId IN
    <foreach item="storeId" index="index" collection="storeIds" separator="," open="(" close=")">
        #{storeId}
    </foreach>
    </select>

</mapper>