.body{
    font-size: 14px;
    color:#5B5B5B;
}
.s_main{
    margin: 0 auto;
    padding-top: 30px;
    width: 1100px;
    min-height: 115px;
    height: auto;
}
.main{
    margin: 0 auto;
    width: 1100px;
    min-height: 500px;
    padding-bottom: 30px;
    height: auto;
    border: 1px solid #E0E0E0;
    background-color: #FFF;
    box-shadow:0px 0px 6px #E0E0E0;
    border-radius: 4px;
}
.pbar_con{
    margin: 30px;
    width: 486px;
    height: 220px;
    border: 1px solid #E0E0E0;
    box-shadow:0px 0px 16px #E0E0E0;
    border-radius: 8px;
    float: left;
}
.pbar_con_1{
    width: 484px;
    height: 145px;
    border-bottom: solid 1px #E0E0E0;
    float: left;
}
.pbar_con_1_1{
    width: 160px;
    height: 145px;
    padding: 20px;
    float: left;
}
.pbar_con_1_2{
    width: 324px;
    height: 145px;
    padding: 5px;
    line-height: 2.0;
    font-size: 14px;
    float: left;
}
.pbar_con_2{
    padding: 15px;
    font-size: 13px;
    color: #9D9D9D;
    line-height: 1.8;
    width: 484px;
    height: 73px;
    float: left;
}